.done{
    text-decoration: line-through;
    color: #d9d9d9 !important;
    transition: 300ms !important;
}

.active{
    display: block !important;
}
.error-msg{
    color: red;
    display: none;
    margin: 0;
    margin-top: 5px;
}

.Todo-field{
    width: 100%;
    height: fit-content;
    .Todo-list-area{
        max-width: 550px;
        height: fit-content;
        position: relative;
        margin: 0 auto;
        @media(max-width: 767px){
            width: 80%;
        }
    }
    .Todo-list-items{
        margin-top: 5px;
        height: 400px;
        overflow-y: auto;
        border-radius: 20px;
        scroll-behavior: smooth;
    }
}
::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #be90cb;
    border-radius: 10px;
    border: 3px solid transparent;
  }
  ::-webkit-scrollbar {
    width: 5px;
    margin-top: 24px;
}
